.pagina-ex4 {

    background-color: #f8f8f8;
    
    .pagEx4 {
        h1 {
            margin-left: 120px;
            margin-top: 40px;
        }

        .seta {
            margin-left: 65px;
            display: flex;
            position: absolute;
        }

        .linha3 {
            margin: 20px auto;
            width: 91%;
            height: 4px;
            background: #37FFF3;
            border-radius: 12px;
        }

        .meio {
            background-color: rgb(240, 241, 241);
            width: 91%;
            height: 200px;
            margin-left: 70px;
            border-radius: 10px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            padding-left: 90px;

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16.5px;
                line-height: 100%;
                align-items: center;
                margin-left:  -50px;
            
                color: #383131;

            }
        }

        .haha {

            margin-left: 150px;

        }

        .final {
           

                display: flex;
                justify-content: center;
                align-items: start;
                background-color: rgb(240, 241, 241);
                width: 880px;
                height: 200px;
                
                padding-top: 20px;
                margin-left: 100px;
                margin-top: 35px;
                border-radius: 10px;
                background-color: #ffffff;
                margin-bottom: 20px;    


                
            
                

                
                .sub { 
                display: flex;
                gap: 50px;
                margin-bottom: 40px;
                height: 10px;
                line-height: 40px;


                input {
                    border-radius: 20px;
                    border-style: solid;
                    border-color: #dfdfdf;
                    border-width: 2px;
                    color: #606060;
                    font: 400px 22px "Verdana";
                    outline: none;
                    padding: 12px 0px;

                }
            }

            button {
                position: absolute;
                right: 510px;
                top: 571px;

                background: #6278F7;
                border-radius: 12px;
                height: 60px;
                width: 230px;
                color: #fff;
                border-radius: 10px;
                font: 500px 20px;
                outline: none;
            }



        }

        .resp {
            
            padding-left: 840px;
            height: 100px;
        }
    }

    


}
