

.todosEx {

    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    .sla {

        display: flex;
        flex-direction: row;
        width: 30px;
        gap: 55px;
    }
    
    .ex {
        display: flex;
        justify-content: center;
        
     
        

        .cubo1 {
        
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color: #d5eb74;
            border-radius: 10px;
        }

        .cubo2 {
            margin: 0px 50px;


            width: 100px;
            height: 100px;
            background-color: #46c00e;
            border-radius: 10px;
        }

        .cubo3 {
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color: #1bb9f8;
            border-radius: 10px;
        }


        .cubo4 {
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color: #1bb9f8;
            border-radius: 10px;
        }

        .cubo5 {
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color: #e61bf8;
            border-radius: 10px;
        }


        
        .cubo6 {
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color: #f58403;
            border-radius: 10px;
        }


        .cubo7 {
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color: #1bf89c;
            border-radius: 10px;
        }


        .cubo8 {
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color: #000000;
            border-radius: 10px;
        }


        .cubo9 {
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color: #7b7b7b;
            border-radius: 10px;
        }




        .cubo10 {
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color: #ff6600;
            border-radius: 10px;
        }


        .cubo11 {
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color:#6533B7;
            ;
            border-radius: 10px;
        }


        .cubo12 {
            margin: 0px 50px;

            width: 100px;
            height: 100px;
            background-color:#e9e50e;
            ;
            border-radius: 10px;
        }





    }
}