.todosEx {

    width: 1200px;
    
    .ex {
        .cubo1 {
            margin-left: 60px;

            width: 100px;
            height: 100px;
            background-color: #d5eb74;
            border-radius: 10px;
        }

        .cubo2 {
            margin-left: 60px;

            width: 100px;
            height: 100px;
            background-color: #46c00e;
            border-radius: 10px;
        }

        .cubo3 {
            margin-left: 60px;
            width: 100px;
            height: 100px;
            background-color: #1bb9f8;
            border-radius: 10px;
        }

        .cubo10 {
            margin-left: 60px;
            width: 100px;
            height: 100px;
            background-color: #b9f81b;
            border-radius: 10px;
        }


        .cubo11 {
            margin-left: 60px;
            width: 100px;
            height: 100px;
            background-color:#6533B7;
            ;
            border-radius: 10px;
        }




    }
}