.todosEx {
    
    .ex {
        .cubo1 {
            margin-left: 75px;

            width: 100px;
            height: 100px;
            background-color: #d5eb74;
            border-radius: 10px;
        }

        .cubo2 {
            margin-left: 75px;

            width: 100px;
            height: 100px;
            background-color: #46c00e;
            border-radius: 10px;
        }

        .cubo3 {
            margin-left: 75px;
            width: 100px;
            height: 100px;
            background-color: #1bb9f8;
            border-radius: 10px;
        }
    }
}